<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch This Shit, You Guys</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <a href="{% url 'watchthisshit:dashboard' %}">
      <section class="hero is-small is-success mb-4">
        <div class="hero-body">
          <h1 class="title is-1">WATCH THIS SHIT YOU GUYS</h1>
          <p class="subtitle is-4">A recommendation-based social network for People Who Don't Suck</p>
        </div>
      </section>
    </a>
    <div class="container">
      <div class="columns">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>