<!-- watchthisshit/templates/watchthisshit/dashboard.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column is-one-half">
  {% for rec in all_recs %}
  <div class="box">
    <p>{{ rec.user.username }} shared {{ rec.title }} with {{ rec.recipients.all|join:", " }}</h5>
    <p class="is-small has-text-grey-light">({{ rec.created_at }})</p>
  </div>
  {% endfor %}
</div>

<div class="column is-one-half">
  {% if user.is_authenticated %}
    <div class="block">
      <a href="{% url 'watchthisshit:profile_list' %}">
        <button class="button is-dark is-outlined is-fullwidth">
          All Profiles
        </button>
      </a>
    </div>
    <div class="block">
      <a href="{% url 'watchthisshit:profile' request.user.profile.id %}">
        <button class="button is-success is-light is-outlined is-fullwidth">
          My Profile
        </button>
      </a>
    </div>
    <div class="block">
      <a href="{% url 'logout' %}">
        <button class="button is-danger is-light is-outlined is-fullwidth">
          Logout
        </button>
      </a>
    </div>
    <div class="block">
      <h4 class="title is-4">Add a Rec</h4>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success is-fullwidth is-medium" type-"submit">Doooo it</button>
      </form>
    </div>
  {% else %}
    <div class="block">
      <a href="{% url 'login' %}">
        <button class="button is-dark is-outlined is-fullwidth">
          Login
        </button>
      </a>
    </div>
  {% endif %}
</div>

{% endblock content %}
