<!-- watchthisshit/templates/watchthisshit/dashboard.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column is-one-half">
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fas fa-bookmark" aria-hidden="true"></i></span>
          <span>All</span>
        </a>
      </li>
      {% for media in media_types %}
      <li>
        <a>
          <span class="icon is-small"><i class="{{ media.icon }}" aria-hidden="true"></i></span>
          <span>{{ media.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% for rec in all_recs %}
  <div class="box">
    <article class="level is-full-width is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div>
            <p><strong>{{ rec.user.username }}</strong> shared <strong>{{ rec.title }}</strong> with <strong>{{ rec.recipients.all|join:", " }}</strong></p>
            <p class="heading is-small has-text-grey-light">({{ rec.created_at }})</p>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a href="{% url "watchthisshit:recommendation" pk=rec.pk %}">
            <button class="button is-rounded is-primary">
              <span class="icon">
                <i class="fas fa-comment-dots"></i>
              </span>
            </button>
          </a>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
</div>

<div class="column is-one-third">
  {% if user.is_authenticated %}
    <div class="block">
      <h4 class="title is-4">Add a Rec</h4>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-primary is-fullwidth is-medium mt-3" type-"submit">Dooo it</button>
      </form>
    </div>
  {% endif %}
</div>

{% endblock content %}