<!-- watchthisshit/templates/watchthisshit/profile.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column">
  <div class="block">
    <h1 class="title is-1">{{ profile.user.username|upper }}'S RECS</h1>

    <form method="POST">
      {% csrf_token %}
      <div class="buttons has-addons">
      {% if profile in user.profile.follows.all %}
        <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
      {% else %}
        <button class="button is-success" name="follow" value="follow">Follow</button>
      {% endif %}
      </div>
    </form>
  </div>

  <div class="content">
    {% for rec in profile.user.recs.all %}
      <div class="box">
        <p>
          {{ rec.title }}
          <span class="is-small has-text-grey-light">
            ({{ rec.created_at }})
          </span>
        </p>
        <p>{{ rec.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="column is-one-third">
  <div class="block">
    <a href="{% url 'watchthisshit:profile_list' %}">
      <button class="button is-dark is-outlined is-fullwidth">
        All profiles
      </button>
    </a>
  </div>

  <div class="block">
    <h3 class="title is-4">follows:</h3>
    <div class="content">
      <ul>
      {% for following in profile.follows.all %}
        <li>
          <a href="{% url 'watchthisshit:profile' following.id %}">{{ following }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="block">
    <h3 class="title is-4">followed by:</h3>
    <div class="content">
      <ul>
      {% for follower in profile.followed_by.all %}
        <li>
          <a href="{% url 'watchthisshit:profile' follower.id %}">{{ follower }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}