<!-- watchthisshit/templates/watchthisshit/profile.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column">
  <div class="block">
    <h1 class="title is-1">{{ profile.user.username|upper }}'S RECS</h1>

    <form method="POST">
      {% csrf_token %}
      <div class="buttons has-addons">
      {% if profile in user.profile.follows.all %}
        <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
      {% else %}
        <button class="button is-success" name="follow" value="follow">Follow</button>
      {% endif %}
      </div>
    </form>
  </div>

  <div class="content">
    {% for rec in profile.user.recs.all %}
    <div class="box">
      <article class="level is-full-width is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div>
              <p><strong>{{ rec.title }}</strong> shared with <strong>{{ rec.recipients.all|join:", " }}</strong></p>
              <p class="heading is-small has-text-grey-light">({{ rec.created_at }})</p>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href="{% url "watchthisshit:recommendation" pk=rec.pk %}">
              <button class="button is-rounded is-primary">
                <span class="icon">
                  <i class="fas fa-comment-dots"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

<div class="column is-one-third">

  <div class="block">
    <article class="panel is-info">
      <p class="panel-heading">Follows</p>
      {% for following in profile.follows.all %}
        {% if following.id != profile.id %}
          <div class="panel-block">
            <a class="panel-block" href="{% url 'watchthisshit:profile' following.id %}">
              <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              {{ following }}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </article>
  </div>

  <div class="block">
    <article class="panel is-info">
      <p class="panel-heading">Followed By</p>
      {% for follower in profile.followed_by.all %}
        {% if follower.id != profile.id %}
          <div class="panel-block">
            <a class="panel-block" href="{% url 'watchthisshit:profile' follower.id %}">
              <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              {{ follower }}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </article>
  </div>
</div>

{% endblock %}