<!-- watchthisshit/templates/watchthisshit/profile.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column">
  <div class="block">
    <h1 class="title is-1">{{ profile.user.username|upper }}'S RECS</h1>

    <form method="POST">
      {% csrf_token %}
      <div class="buttons has-addons">
      {% if profile in user.profile.follows.all %}
        <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
      {% else %}
        <button class="button is-success" name="follow" value="follow">Follow</button>
      {% endif %}
      </div>
    </form>
  </div>

  <div class="content">
    {% for rec in profile.user.recs.all %}
      <div class="box">
        <p>
          {{ rec.title }}
          <span class="is-small has-text-grey-light">
            ({{ rec.created_at }})
          </span>
        </p>
        <p>{{ rec.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="column is-one-third">
  <div class="block">
    <a href="{% url 'watchthisshit:profile_list' %}">
      <button class="button is-dark is-outlined is-fullwidth">
        All profiles
      </button>
    </a>
  </div>

  <div class="block">
    <article class="panel is-info">
      <p class="panel-heading">Follows</p>
      {% for following in profile.follows.all %}
        {% if following.id != profile.id %}
          <div class="panel-block">
            <a class="panel-block" href="{% url 'watchthisshit:profile' following.id %}">
              <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              {{ following }}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </article>
  </div>

  <div class="block">
    <article class="panel is-info">
      <p class="panel-heading">Followed By</p>
      {% for follower in profile.followed_by.all %}
        {% if follower.id != profile.id %}
          <div class="panel-block">
            <a class="panel-block" href="{% url 'watchthisshit:profile' follower.id %}">
              <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              {{ follower }}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </article>
  </div>
</div>

{% endblock %}