<!-- watchthisshit/templates/registration/password_change_form.html -->

{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}


<div class="column is-half is-offset-one-quarter">
  <form method="POST" action="" class="box">
    {% csrf_token %}

    <div class="field">
      <label for="" class="label">{{ form.old_password.label_tag }}</label>
      <div class="control has-icons-left">
        {{ form.old_password|add_class:'input' }}
        {% comment %}
        <input type="password" placeholder="*******" class="input" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        {% endcomment %}
      </div>
    </div>
    <div class="field">
      <label for="" class="label">{{ form.new_password1.label_tag }}</label>
      <div class="control has-icons-left">
        {{ form.new_password1|add_class:'input' }}
        {% comment %}
        <input type="password" placeholder="*******" class="input" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        {% endcomment %}
      </div>
    </div>
    <div class="field">
      <label for="" class="label">{{ form.new_password2.label_tag }}</label>
      <div class="control has-icons-left">
        {{ form.new_password2|add_class:'input' }}
        {% comment %}
        <input type="password" placeholder="*******" class="input" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        {% endcomment %}
      </div>
    </div>
    <div class="field">
      <button type="submit" value="Change" class="button is-success is-light is-outlined is-fullwidth">
        Change
      </button>
    </div>
  </form>
</div>

{% endblock content %}